.Configuration {
  width: 106.8rem;
  height: 17rem;
  display: flex;
  background-image: linear-gradient(var(--brown), var(--brown));
  margin: 0 14rem;
  align-items: center;
  overflow: hidden;
}
.Configuration__E {
  fill: var(--green);
  font-size: 40rem;
  height: 16rem;
  width: 16rem;
  transform: rotate(-20deg) !important;
  margin: 0 2rem 0 -3rem;
}
.Configuration__fence {
  height: 4.6rem;
  width: 7rem;
  margin-right: 4rem;
}
.Configuration__content {
  color: white;
  font-family: "PT Sans";
  align-self: start;
  width: 50%;
}
.Configuration__title {
  font-size: 3.3rem;
  font-weight: 600;
  margin-top: 3.3rem;
  letter-spacing: 2px;
  padding-bottom: 1rem;
}
.Configuration__description {
  font-size: 1.5rem;
}
.Configuration__leftArrow {
  font-size: 4rem;
  color: white;
  margin: 0 auto;
}

.Configuration:hover {
  background-image: linear-gradient(to top, var(--green), var(--green));
}

.Configuration:hover .Configuration__E {
  fill: var(--brown);
}
.Configuration:hover .Configuration__leftArrow {
  transform: translateX(2rem);
}

/* tab screen 900px */
@media (max-width: 56.25em) {
  .Configuration {
    width: 100%;
    height: 18rem;
    margin: 0;
  }
  .Configuration__title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 3.3rem;
    padding-bottom: 2rem;
  }

  .Configuration__description {
    font-size: 1.3rem;
  }
  .Configuration__fence {
    height: 3rem;
    width: 5rem;
    margin-right: 2rem;
  }
}

/* phone screen 600px */
@media (max-width: 37.5em) {
  .Configuration {
    width: 100%;
    height: 13rem;
    margin: 0;
  }
  .Configuration__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 3.3rem;
    padding-bottom: 1rem;
  }
  .Configuration__description {
    font-size: 1rem;
  }
  .Configuration__E {
    font-size: 30rem;
    height: 11rem;
    width: 11rem;
    transform: rotate(-20deg);
    margin: 1.5rem 2rem 0 -3rem;
  }
}
