.Magasin {
  margin: 14.2rem 14rem 0 0;
  padding-bottom: 14rem;
  position: relative;
}
.Magasin__img {
  width: 74.3rem;
  height: 48.1rem;
}
.Magasin__description {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 66.4rem;
  position: absolute;
  top: 0;
  left: 54.4rem;
  z-index: 10;
}

.Magasin__description-title {
  padding-bottom: 3rem;
  font-size: 3.3rem;
}
.Magasin__description-img {
  width: 66.4rem;
  height: 24.9rem;
  margin-top: 1rem;
}

.Magasin__description-para {
  font-size: 1.4rem;
  padding: 3rem 2rem 5.5rem 2rem;
  background-color: white;
}
/* tab screen 900px */
@media (max-width: 56.25em) {
  .Magasin__img {
    display: none;
  }
  .Magasin__description {
    width: 100%;
    position: relative;
    margin-left: -50rem;
  }

  .Magasin__description-img {
    width: 100%;
    margin-top: 1rem;
  }
  .Magasin__description-title {
    margin-left: -60rem;
    padding-bottom: 2rem;
  }
}

/* phone screen 600px */
@media (max-width: 37.5em) {
  .Magasin__description-title {
    margin-left: -30rem;
    padding-bottom: 1rem;
  }
}
